---
layout: default
title: ian c. anderson
---

<div id="programming">
  
  <div id="programming-image" class="sidebar-image">
    <img src="assets/images/man_computer.png" />
  </div>

  <div id="programming-portfolio" class="portfolio">
    <h2>programming</h2>
    <h3>articles</h3>
    <ul class="archive">
      {% for post in site.categories.devblog %}
      <li>
        <time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

<div id="music">
  <div id="music-image" class="sidebar-image">
    <img src="assets/images/music_group.png" />
  </div>
  <div id="music-portfolio" class="portfolio">
    <h2>music</h2>
    <ul>
      <li>
        <a href="http://music.iancanderson.com">bandcamp</a>
      </li>
      <li>
        <a href="http://soundcloud.com/iancanderson">soundcloud</a>
      </li>
      <li>
        <a href="http://www.youtube.com/user/IanCAnderson">youtube</a>
      </li>
    </ul>
  </div>

</div>

<!--<h2>nerdy posts</h2>-->
<!--<ul id="blog_archive" class="archive">-->
  <!--{% for post in site.categories.blog %}-->
  <!--<li>-->
    <!--<time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">-->
      <!--{{ post.date | date: "%B %d, %Y" }}-->
    <!--</time>-->
    <!--<a href="{{ post.url }}">{{ post.title }}</a>-->
  <!--</li>-->
  <!--{% endfor %}-->
<!--</ul>-->

