---
layout: default
title: ian c. anderson
---

<div id="programming">
  
  <div id="programming-image" class="sidebar-image">
    <img src="assets/images/man_computer.png" />
  </div>

  <div id="programming-portfolio" class="portfolio">
    <h2>programming</h2>

    <h3>articles</h3>
    <ul class="archive">
      {% for post in site.categories.devblog %}
      <li>
        {% if post.external_url %}
          <a href="{{ post.external_url }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
        <time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      </li>
      {% endfor %}
    </ul>

    <h3>open-source projects</h3>
    <ul class="brand-links">
      <li>
        <a target="_blank" href="https://github.com/iancanderson/girls_just_want_to_have_puns">
          <i class="icon-github-01"></i>
          girls just want to have puns
        </a>
      </li>
      <li>
        <a target="_blank" href="http://github.com/iancanderson/hangry">
          <i class="icon-github-01"></i>
          hangry
        </a>
      </li>
      <li>
        <a target="_blank" href="http://github.com/iancanderson/ingreedy">
          <i class="icon-github-01"></i>
          ingreedy
        </a>
      </li>
    </ul>

    <h3>apps</h3>
    <ul class="brand-links">
      <li>
        <a target="_blank"
          href="https://itunes.apple.com/us/app/purple-train/id1153352657?mt=8">
          <i class="icon-apple"></i>
          <span class="purple-train">Purple Train</span>
          for iOS
        </a>
      </li>
      <li>
        <a target="_blank"
          href="https://play.google.com/store/apps/details?id=com.thoughtbot.purpletrain&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
          <i class="icon-android"></i>
          <span class="purple-train">Purple Train</span>
          for Android
        </a>
      </li>
    </ul>

    <h3>links</h3>
    <ul class="brand-links">
      <li>
        <a target="_blank" href="http://github.com/iancanderson">
          <i class="icon-github-01"></i>
          github
        </a>
      </li>
    </ul>

  </div>

</div>

<div id="music">
  <div id="music-image" class="sidebar-image">
    <img src="assets/images/music_group.png" />
  </div>
  <div id="music-portfolio" class="portfolio">
    <h2>music</h2>
    <ul class="brand-links">
      <li>
        <a target="_blank" href="http://music.iancanderson.com">
          <i class="icon-bandcamp"></i>
          bandcamp
        </a>
      </li>
      <li>
        <a target="_blank" href="https://itunes.apple.com/us/artist/ian-c.-anderson/id366601559">
          <i class="icon-apple"></i>
          iTunes
        </a>
      </li>
      <li>
        <a target="_blank" href="http://soundcloud.com/iancanderson">
          <i class="icon-soundcloud"></i>
          soundcloud
        </a>
      </li>
      <li>
        <a target="_blank" href="http://open.spotify.com/artist/0Q1D32tWdRqI6NpFWmF5O5">
          <i class="icon-spotify"></i>
          spotify
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.youtube.com/user/IanCAnderson/videos?flow=list&live_view=500&view=0&sort=dd">
          <i class="icon-youtube"></i>
          youtube
        </a>
      </li>
    </ul>
  </div>

</div>

<div id="other">
  <div id="other-image" class="sidebar-image">
    <img src="assets/images/look_it_up.png" />
  </div>
  <div id="other-portfolio" class="portfolio">
    <h2>other</h2>
    <ul class="brand-links">
      <li>
        <a target="_blank" href="mailto:&#105;&#097;&#110;&#064;&#105;&#097;&#110;&#099;&#097;&#110;&#100;&#101;&#114;&#115;&#111;&#110;&#046;&#099;&#111;&#109;">
          <i class="icon-mail"></i>
          email
        </a>
      </li>
      <li>
        <a target="_blank" href="http://facebook.com/iancanderson">
          <i class="icon-facebook"></i>
          facebook
        </a>
      </li>
      <li>
        <a target="_blank" href="http://instagram.com/iancanderson">
          <i class="icon-instagram"></i>
          instagram
        </a>
      </li>
      <li>
        <a target="_blank" href="http://lastfm.com/user/iancanderson">
          <i class="icon-last_fm"></i>
          last fm
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.linkedin.com/pub/ian-anderson/12/843/806">
          <i class="icon-linkedin"></i>
          linked in
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.twitter.com/iancanderson">
          <i class="icon-twitter-3"></i>
          twitter
        </a>
      </li>
    </ul>
  </div>

</div>

<!--<h2>nerdy posts</h2>-->
<!--<ul id="blog_archive" class="archive">-->
  <!--{% for post in site.categories.blog %}-->
  <!--<li>-->
    <!--<time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">-->
      <!--{{ post.date | date: "%B %d, %Y" }}-->
    <!--</time>-->
    <!--<a href="{{ post.url }}">{{ post.title }}</a>-->
  <!--</li>-->
  <!--{% endfor %}-->
<!--</ul>-->

