@mixin mobile-one-col {
  @include media($mobile) {
    @include span-columns(12);
    @include omega();
  }
}

@mixin hide-on-mobile {
  @include media($mobile) {
    display: none;
  }
}

#container {
  @include outer-container;

  .sidebar-image {
    @include span-columns(6);
    @include hide-on-mobile();

    img {
      width: 90%;
    }
  }

  .portfolio {
    @include span-columns(6);
    @include omega();
    @include mobile-one-col();
  }

  .archive time {
    @include hide-on-mobile();
  }

  ul.brand-links {
    list-style: none;
    a {
      text-decoration: none;
    }
    li {
      font-size: 1.2rem;
    }
  }

  #other-image img {
    width: 80%;
    padding-top: 20px;
  }

}


