@import 'vendor/pygments/default';
@import 'vendor/bourbon/bourbon';
@import 'grid-settings'; // Have to import this before we import neat
@import 'vendor/neat/neat';
@import 'home';
@import 'post';

body {
  background: #FFF;
  color: #000;
  font-family: 'Bitter';
}

header {
  @include span-columns(12);
  @include omega();

  @include media($mobile) {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

footer.main {
  text-align: center;
  padding-top: 2rem;
  @include span-columns(12);

  a {
    text-decoration: none;
  }
  img {
    vertical-align: middle;
  }
}

a {
  color: black;
  &:hover {
    color: green;
  }
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}
