@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';
@import 'home';
@import 'post';

$font-size: 20px;

body {
  background: #FFF;
  color: #000;
  font-family: 'Bitter';
  font-weight: 400;
  font-size: $font-size;
}

header {
  @include span-columns(12);
  @include omega();
  a {
    text-decoration: none;
  }
}

footer {
  padding-top: 2rem;
  @include span-columns(12);
  #icon-links {
    a {
      font-size: 36px;
      text-decoration: none;
      padding-left: 10px;
    }
  }
}

a {
  color: black;
}
