@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';
@import 'home';
@import 'post';

body {
  background: #FFF;
  color: #000;
  font-family: 'Bitter';
}

header {
  @include span-columns(12);
  @include omega();
  a {
    text-decoration: none;
  }
}

footer.main {
  text-align: center;
  padding-top: 2rem;
  @include span-columns(12);
  #icon-links {
    text-align: center;
    a {
      font-size: 36px;
      text-decoration: none;
      padding-left: 10px;
    }
  }
}

a {
  color: black;
}
