<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Ian C. Anderson" />
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/archive.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="/css/vendor/pygments/default.css">
</head>
<body>

  {{ content }}

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38245714-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
