<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Ian C. Anderson" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/vendor/pictonic/pictonic.css">
  <!--[if lt IE 8]><script src="/assets/vendor/pictonic/pictonic.min.js"></script><![endif]-->
</head>
<body>

  <div id="container">

    <header>
      <h1><a href="/">ian c. anderson</a></h1>
    </header>

    {{ content }}

    <footer class='main'>
      <span id="icon-links">
        <img src="/assets/images/man_pointing_right.png"/>
        <a href="http://www.twitter.com/iancanderson"> <i class="icon-twitter-3"></i> </a>
        <img src="/assets/images/man_pointing_left.png"/>
      </span>
    </footer>
  
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38245714-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
